/node_modules
/public
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/bootstrap/app.php
/storage/app/public/*
/storage/app/private/*'
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
